src/main/resources/TSVersion_1_2_3_4.xsd


<xs:schema elementFormDefault="qualified" targetNamespace="http://BSkyB.com.BSS.Contract.Aquisition" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://BSkyB.com.BSS.Contract.Aquisition">
  <xs:complexType name="ArrayOfTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Title" nillable="true" type="tns:Title"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitle" nillable="true" type="tns:ArrayOfTitle"/>
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="0" name="EPGTitle" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="GenreID" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="ProductionNo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ProgrammeName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SubGenreID" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="Synopsis" nillable="true" type="tns:Synopsis"/>
      <xs:element minOccurs="0" name="TitleID" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="TitleType" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="YearOfProduction" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Title" nillable="true" type="tns:Title"/>
  <xs:complexType name="Synopsis">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Synopsis" nillable="true" type="tns:Synopsis"/>
  <xs:complexType name="ArrayOfSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Series" nillable="true" type="tns:Series"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeries" nillable="true" type="tns:ArrayOfSeries"/>
  <xs:complexType name="Series">
    <xs:sequence>
      <xs:element minOccurs="0" name="SeriesID" type="xs:int"/>
      <xs:element minOccurs="0" name="SeriesName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="SeriesSeason" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Series" nillable="true" type="tns:Series"/>
  <xs:complexType name="ArrayOfPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purchase" nillable="true" type="tns:Purchase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchase" nillable="true" type="tns:ArrayOfPurchase"/>
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="EpisodeNo" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="PurchaseID" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="SeriesID" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="TitleID" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchase" nillable="true" type="tns:Purchase"/>
</xs:schema>